
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
body{
	margin : 0px!important;
	font-family: 'Cormorant Garamond', serif;
	font-size: large;
	font-weight: 400;
	color: black;
	background: #EDEDE9;

}
h1{
	font-weight: bold;
}

.row{
	margin: 20px;
}

td{
	text-transform: capitalize;
}
.wrapper{
	position: relative;
}
.sidebar{
	position: fixed;
	width:10%;
	height: 100%;
	padding: 10px 0;    
}
.navbar-brand{
	color:white;
}
.item img{
	border-radius: 20px;
}
#tableau{
	background: #F8F9FA;
}

#container-loader {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	background: #F8F9FA;
	z-index: 2;
}
#loader {
	z-index: 3;
	position: absolute;
	left: calc(50vw - 10vw);
	top: calc(50vh - 10vw);
	width: 10vw;
	height: 10vw;
	border-radius: 50%;
	background: transparent;
    border: solid 10px #343a40;
	border-bottom: solid 10px transparent;
	border-top: solid 10px transparent;
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
	0%{ transform: rotate(360deg);}    
}
@media only screen and (max-width:600px){
	.sidebar{
		position: fixed;
		width:22%;
		height: 100%;
		padding: 10px 0; 
		 
	}
	#content-list{
		position: relative;
	}
	.item{
		margin-top : 10px;
		margin-bottom: 10px;
	}
	#home{
		margin-top: 70px;
	}
}
@media only screen and (min-width:768px){
	.sidebar{
		position: fixed;
		width:14%;
		height: 100%;
		padding: 10px 0; 
	}
	#content-list{
		position: relative;
	}
	#home{
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}
@media only screen and (min-width:992px){
	.sidebar{
		position: fixed;
		width:12%;
		height: 100%;
		padding: 10px 0; 
	}
	#content-list{
		position: relative;

	}
	#home{
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-top: 60px;
	}
}

